.hero {
    min-height: 500px;
    background-image: url(../img/reloj.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    color: aliceblue;
    gap: 20px;
    

}
.boxes{
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    padding: 1rem;
    gap: 1rem;


}

.box{
    border: 2px solid black;
    padding: 2rem;
    width: 25%;
}