
.cuerpo {
    display: flex; 
    flex-direction: row;
 
}
.main {
    background-color:  rgb(241, 238, 228); 
    display: flex;
    width: 80%;
}
    

.hero {
    min-height: 150px;
    background-image: url(../img/reloj.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    color: aliceblue;
    gap: 20px;
    }

.nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(245, 230, 203);
    padding: 20px;
    width: 30%; 
    border: 5px solid color rgb(122, 99, 57);
    
}

nav a{
    text-decoration: none;
      color: rgb(0, 0, 0);

}


.conversacion {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    
}  

    .contactos{
    display: flex;
    flex-direction: column;
}

.contactos h3 {
    margin: 0;          
    line-height: 1.2;    
}

.contactos p {
    margin: 0;           
    font-size: 0.9rem;   
    color: #555;         
}

.avatar{
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
