.cuerpo {
    background-color: rgb(212, 190, 161);
    display: flex; 
    min-height: 100vh; 
}
.main {
    background-color: rgb(2, 1, 1);
    display: flex;
    flex-direction: column; 
    width: 75%;
}
    

.hero {
    min-height: 150px;
    background-image: url(../img/reloj.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    color: aliceblue;
    gap: 20px;
    }

.nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 30%; 
}

nav a{
    text-decoration: none;
      color: rgb(0, 0, 0);

}

.mensaje{
    display: flex;
    flex-direction: column;
}

.conversacion {
    display: flex; /* Convierte el contenedor en un flexbox */
    align-items: center; /* Alinea verticalmente los elementos (imagen y texto) al centro */
    gap: 15px; /* Espacio entre la imagen del avatar y el texto de contactos */
    margin-bottom: 20px; /* Margen inferior opcional */
}  

    .contactos{
    display: flex;
    flex-direction: column;

}

.avatar{
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
